/*Reset*/
* {
	margin: 0 auto;
	padding: 0;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@font-face {
	font-family: SFProIcons_regular;
	src: url(https://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.woff);
}
/*SF Apple Font*/
/** WARNING - USE AT OWN RISK */
/** IT IS AGAINST APPLE'S POLICY TO USE SF PRO FOR ANYTHING OTHER THAN iOS/tvOS/macOS/watchOS DESIGN & DEVELOPMENT */
/** https://sf.abarba.me/LICENSE.pdf */

/** 1. Copy/import this file into your main css/scss file */
/** 2. Change css font-family: to "SF Text", "SF Display" or "SF Mono" */
/** 3. Apply font-weight or italic to html elements */
/*@font-face {
  font-family: "sf-pro-display_regular";
  src: url(https://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.woff2);
}
*/
/*Navigation*/
nav {
	background-color: #323232;
	height: 48px;
	width: 100%;
}

#right {
	width: 66px;
}

#left {
	width: 66px;
}

nav ul {
	font-family: "SF-Pro-Display-Regular", sans-serif;
	font-size: 14px;
	line-height: 44px;
	color: #FFFFFF;
/*	margin-left: 66px;
	margin-right: 66px;*/
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding: 0 38px 0 38px;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: lightgrey;
	text-decoration: none;
}

.fa-apple {
	font-size: 1.5em;

}

